@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat&family=Space+Mono&display=swap');

:root {
    --paragraph-color: #474747;
    --heading-color: #181818;
    --copyright-color: #7c7c7c;
}

body {
    font-family: 'Space Mono', sans-serif;
    margin: 0;
    padding: 0; 
    /* height: 100vh; */
}

main {
    padding: 10px;
    margin: 10px;
}

.title {
    display: flex;
    justify-content: left;
    font-size: 15px;
    font-family: 'Inconsolata', sans-serif;
    color: var(--heading-color);
    margin-top: 0;
}

img {
    width: 100%;
}

.image {
    width: 80%;
    margin-left: 60px;
}

.container {
    display: block;
    width: 400px;
}

.container h2 {
    width: 600px;
    font-size: 3.5rem;
    margin-bottom: 40px;
    color: var(--heading-color);
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-column: 1 / span 2; */
    gap: 20px;
}

.container p {
    font-size: 1.25rem;
    margin-bottom: 50px;
    color: var(--paragraph-color);
}

button {
    background-color: black;
    color: white;
    font-family: 'Space Mono', sans-serif;
    padding: 20px;
    font-size: 15px;
    cursor: pointer;
}

.copyright {
    font-family: 'Montserrat', sans-serif;
    color: var(--copyright-color);
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

@media only screen and (max-width: 360px) {
    main {
        display: block;
    }

    .title {
        display: flex;
        justify-content: left;
        font-size: 10px;
    }

    img {
        width: 100%;
    }

    .image {
        width: 50%;
        margin-left: 10px;
    }

    .grid-container {
        display: block;
    }

    .container {
        display: block;
        max-width: 300px;
    }
    
    .container h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .container p {
        font-size: 15px;
        margin-bottom: 25px;
    }

    .copyright {
        display: flex;
        justify-content: center;
        margin-top: 75px;
        font-size: 12px;
        width: fit-content;
    }
}