@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat&family=Space+Mono:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --paragraph-color: #474747;
    --heading-color: #181818;
    --copyright-color: #7c7c7c;
}

img {
    width: 100%;
}

.title {
    grid-area: title;
    font-family: 'Inconsolata', sans-serif;
}

.grid-container {
    grid-area: main-content;
    font-family: 'Space Mono', sans-serif;
}

.image {
    grid-area: img;
}

.container {
    grid-area: container-content;
}

.grid-container h2 {
    font-weight: 700;
}

a button {
    font-family: 'Space Mono', sans-serif;
    font-size: 14px;

    background-color: #333333;
    padding: 24px 44px;
    color: #fff;
    outline: none;
}

.copyright {
    grid-area: copyright;
    font-family: 'Montserrat', sans-serif;
    color:#BDBDBD;
    font-weight: 700;
    text-align: center;
}

@media (max-width: 780px) {
    body {
        display: grid;
        /* height: 100vh; */
        grid-template-areas: 
            "title"
            "main-content"
            "copyright";
        padding: 0 24px;
    }

    .title {
        font-size: 16px;
        font-weight: bold;
    }

    .grid-container h2 {
        font-size: 48px;
    }

    .grid-container p {
        font-size: 18px;
        margin-bottom: 72px;
    }

    a button {
        margin-bottom: 120px;
    }

    .copyright {
        font-size: 14px;
    }
}

@media (min-width: 780px) {
    body {
        padding: 0 40px;
        padding-left: 20px;
    }

    .title {
        font-size: 12px;
        padding-bottom: 100px;
    }

    .image {
        width: 50%;
        margin-right: 100px;
    }

    .grid-container {
        width: 100%;
        display: flex;
    }

    .container {
        width: 50%;
    }

    h2 {
        font-size: 56px;
    }

    p {
        margin-bottom: 100px;
    }

    a button {
        margin-bottom: 240px;
    }
}